{% extends 'base.html' %}

{% block body %}
<div id="melon-details">

    <div id="single-melon" class="card text-center">
        <h2>{{ melon.common_name }}</h2>
        <img class="melon-image" src="{{ melon.image_url }}" alt="Melon">
        <h5>Price per melon: {{ melon.price_str() }} </h5>
        <h5>Color: {{ melon.color }}</h5>

        {% if melon.seedless %}
            <h5>Seedless Melon</h5>
        {% else %}
            <h5>Warning! This melon has seeds.</h5>
        {% endif %}

        <form action="{{ url_for('add_to_cart', melon_id=melon.melon_id)}}" method="post">
            <input type="number" step="1" max="10" min="0" value="1" name="quantity" class="quantity-field border-0 text-center w-4">
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>

    </div>


</div>




{% endblock %}